/* Navbar background */
.navbar {
  background-color: #6a0dad !important;
}

/* Navbar text */
.navbar .navbar-brand,
.navbar .nav-link {
  color: white !important;
}

/* Hover effect */
.navbar .nav-link:hover {
  color: #d8b4fe !important;
}

/* Make all dashboard boxes (cards) have purple thicker borders */
.quarto-dashboard .card {
  border: 2px solid  #d8b4fe !important;  /* thickness + purple */
  border-radius: 8px;                   /* optional: rounded corners */
}

.quarto-dashboard .card {
  color: black;
}

/* Reduce overall navbar height */
.navbar {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  min-height: 50px;
}

/* Title (Computational Musicology Portfolio) */
.navbar-brand {
  font-size: 1.1rem;
  padding: 0;
}

/* Your name under title */
.navbar-title {
  font-size: 0.9rem;
}

/* Navigation links (Background, Chroma, etc.) */
.navbar-nav .nav-link {
  font-size: 0.9rem;
  padding: 0.3rem 0.6rem;
}